@{
  Layout = "_Layout";
}

@model RestaurantApp.Models.Item

<h2>Add a restaurant</h2>

<h4>Add a restaurant to this item: @Html.DisplayFor(model => model)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId)

    @Html.Label("Select restaurant")
    @Html.DropDownList("RestaurantId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>