@{
  Layout = "_Layout";
}

@model RestaurantApp.Models.Item

<h4>Add a new item</h4>

<p>@Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.ItemPrice, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ItemName)
  @Html.TextBoxFor(model => model.ItemName)
  @Html.LabelFor(model => model.ItemPrice)
  @Html.TextBoxFor(model => model.ItemPrice)

  <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>