@{
  Layout = "_Layout";
}

@using RestaurantApp.Models
@model RestaurantApp.Models.Item

<h2>Item Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.ItemName): @Html.DisplayFor(model => model.ItemName)</h3> 
<h3>@Html.DisplayNameFor(model => model.ItemPrice): @Html.DisplayFor(model => model.ItemPrice)</h3>   


@if(@Model.JoinEntities.Count == 0)
{
  <p>This item does not have any restaurants yet!</p>
}
else
{
  <h4>This item has the following restaurants:</h4>
  <ul>
    @foreach(RestaurantItem join in Model.JoinEntities)
    {
      <li>Restaurant: @join.Restaurant.RestaurantName</li>
      @using (Html.BeginForm("DeleteJoin", "Items"))
      {
        @Html.Hidden("joinId", @join.RestaurantItemId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a Restaurant", "AddRestaurant", new { id = Model.ItemId })</p>
<p>@Html.ActionLink("Edit Item", "Edit", new { id = Model.ItemId })</p>
<p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.ItemId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>