@{
  Layout = "_Layout";
}

@using RestaurantApp.Models
@model RestaurantApp.Models.Item


<h2>Item Details</h2>
<hr />
<h3>Item Name: @Html.DisplayFor(model => model.ItemName)</h3> 
<h3>Item Price: $@Html.DisplayFor(model => model.ItemPrice)</h3>


@if(@Model.JoinEntities.Count == 0)
{
  <p>@Html.DisplayFor(model => model.ItemName) does not have any restaurants yet!</p>
    
}
else
{
<table class="table caption-top">   
 <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <th scope="col">Restaurant</th>
    </tr>
  </thead>
  <tbody>
    @foreach (RestaurantItem item in Model.JoinEntities)
    {
      <tr>
        <th scope="row">@item.Item.ItemName</th>
        <th scope="row">@item.Item.ItemPrice</th>
        <th scope="row">@item.Restaurant.RestaurantName</th>
      </tr>
    }
  </tbody>
</table>
}

<p>@Html.ActionLink("Add a Restaurant", "AddRestaurant", new { id = Model.ItemId })</p>
<p>@Html.ActionLink("Edit Item", "Edit", new { id = Model.ItemId })</p>
<p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.ItemId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>