@{
  Layout = "_Layout";
}
@model IEnumerable<RestaurantApp.Models.Item>
@using RestaurantApp.Models;
@{

  ViewData["Title"] = "Index";
}

<h1>Items for @User.Identity.Name</h1>

<table class="table">
    <thead>
        <tr>
                <th>
                        <a href='/Items?sortOrder=name_desc'>
                        @* @Html.DisplayNameFor(model => model.ItemName)</a> *@
                        Item Name</a>

                </th>
                <th>
                        <a href='/Items?sortOrder=price_desc'>
                        @* @Html.DisplayNameFor(model => model.ItemPrice)</a> *@
                        Item Price</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (!Model.Any())
{
  <h3>No items have been added yet!</h3>
} 
else
{
  
    @foreach (Item item in Model)
    {
      <tr>
        <td>@Html.ActionLink($"{item.ItemName}", "Details", new { id = item.ItemId })</td>
        <td>@Html.ActionLink($"${item.ItemPrice}", "Details", new { id = item.ItemId })</td>
      </tr>
    }
  
}
    </tbody>
    </table>
<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>