@{
  Layout = "_Layout";
}

@model RestaurantApp.Models.Restaurant

<h2>Add an item</h2>

<h4>Add an item to this restaurant: @Html.DisplayFor(model => model.RestaurantName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)

    @Html.Label("Select item")
    @Html.DropDownList("ItemId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>