@{
  Layout = "_Layout";
}

@using RestaurantApp.Models
@model RestaurantApp.Models.Restaurant

@if (@Model.JoinEntities.Count == 0)
{
  @* <p><b>Restaurant:</b> @Html.DisplayFor(model => model.RestaurantName) does not have any items!</p> *@
  <b>Restaurant: @Html.DisplayFor(model => model.RestaurantName)</b> <p>Does not have any  items!</p>
  <button type="button" class="btn btn-primary">
  <a class="text-white" href="@Url.Action("Create","Items", 
  new { id = Model.RestaurantId })">Add item</a></button>

}
else
{

  <table class="table caption-top">

    <caption>
    <hr>
    Reviews for: @Html.DisplayFor(model => model.RestaurantName)
  </caption>
  <thead>
    <tr>
      <th scope="col">Restaurant </th>
      <th scope="col">Items</th>
      <th scope="col">Price</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>

  <tbody>
    @foreach (RestaurantItem join in Model.JoinEntities)
      {
        <tr>
          <th scope="row">@join.Restaurant.RestaurantName</th>
          <td>@join.Item.ItemName</td>
          <td>$@join.Item.ItemPrice</td>
          <td>@using (Html.BeginForm("DeleteJoin", "Restaurants"))
          {
            @Html.Hidden("joinId", @join.RestaurantItemId)
            <input type="submit" class="btn btn-primary flex-grow-1" value="Delete"/> 
          }
          </td>
        </tr>
      }
    </tbody>
  </table>
}
@if (@Model.ReviewJoin.Count == 0)
{
   <br>
   <b>Restaurant: @Html.DisplayFor(model => model.RestaurantName)</b> <p>Does not have any reviews!</p>
}
else
{
  <table class="table caption-top">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">User</th>
      @* <th scope="col">Action</th> *@
      @* <th scope="col">Edit</th> *@

    </tr>
  </thead>

  <tbody>
  @foreach(RestaurantReview join in Model.ReviewJoin)
      {
        <tr>
          <th scope="row">@join.Review.ReviewTitle</th>
          <td>@join.Review.ReviewRating</td>
          <td>@join.Review.ReviewText</td>
          <td>@join.Review.User.UserName</td>
          @* <td>
          @using (Html.BeginForm("DeleteJoin", "Reviews"))
          {

          @Html.Hidden("joinId", @join.RestaurantReviewId)
          @Html.Hidden("restaurantId", Model.RestaurantId)
           <input type="submit" class="btn btn-danger" value="Delete review"/>} 
          </td> *@

          @* <td>
            <button type="button" class="btn btn-secondary">
            <a class="text-white" href="@Url.Action("Details","Reviews", 
            new { id = Model.RestaurantId })">Edit review</a></button>
          </td>     *@
        
        </tr>
      }
    </tbody>
  </table>
}





<button type="button" class="btn btn-primary me-3">
  <a class="text-white" href="@Url.Action("Create","Reviews")">Add New Review</a>
</button>

<button type="button" class="btn btn-secondary">
<a class="text-white" href="@Url.Action("Edit","Restaurants", 
new { id = Model.RestaurantId })">Edit restaurant</a></button>

<button type="button" class="btn btn-danger">
<a class="text-white" href="@Url.Action("Delete","Restaurants", 
new { id = Model.RestaurantId })">Delete Restaurant</a></button>

<button type="button" class="btn btn-dark">
<a class="text-white" href="@Url.Action("Index","Restaurants", 
new { id = Model.RestaurantId })">Back to list</a></button>



