@{
  Layout = "_Layout";
}
@* 
@using RestaurantApp.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />

@if (!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
}



<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      @using (Html.BeginForm(new { @class = "form-horizontal" }))     
      {
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email , new { @class="form-control col-sm-3", id="control-id1"})

        @Html.LabelFor(m => m.Password)
        <br>
        @Html.EditorFor(m => m.Password, new { @class="form-control col-sm-3", id="control-id2"})

        @* <input type="submit" value="Log in" /> *@
          <input type="submit" class="btn btn-primary " value="Log In" />
      }
    </div>
  </div>
</div>








