@{
  Layout = "_Layout";
}
@model RestaurantApp.Models.Review

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      @using (Html.BeginForm(new { @class = "form-horizontal" }))
      {
        <div class="form-group">
          @Html.Label("Select a restaurant:")
          @Html.DropDownList("RestaurantId")
        </div>
        <div class="form-group">
          @Html.LabelFor(model => model.ReviewTitle, "Review Title")
          @Html.TextBoxFor(model => model.ReviewTitle, new { @class="form-control col-sm-3", id="control-id2"})
        </div>
        <div class="form-group">
          @Html.LabelFor(model => model.ReviewText, "Write Review")
          @Html.TextBoxFor(model => model.ReviewText, new { @class="form-control col-sm-3", id="control-id4"})
        </div>

        <input type="submit" class="btn btn-primary " value="Add Review" />
      }


    </div>
  </div>
</div>











